
<form #f="ngForm" (ngSubmit)="getHotelsByVille(f.value)" style="margin-left: 11%; margin-top: 1%;">
    <div class="row">
        <div class="col-md-6 mb-3 mb-lg-0 col-lg-2">
          <label for="checkin_date" class="font-weight-bold text-black">Destination</label>
          <div class="field-icon-wrap">
            <div class="icon"><span class="icon-calendar"></span></div>
            <input type="text"  name="key" ngModel class="form-control">
          </div>
        </div>
        <div class="col-md-6 mb-3 mb-lg-0 col-lg-2">
          <label for="checkout_date" class="font-weight-bold text-black">Check In</label>
          <div class="field-icon-wrap">
            <div class="icon"><span class="icon-calendar"></span></div>
            <input type="text" id="checkout_date" class="form-control">
          </div>
        </div>
        
        <div class="col-md-4 mb-2 mb-lg-0 col-lg-2">
          <label for="checkout_date" class="font-weight-bold text-black">Check Out</label>
          <div class="field-icon-wrap">
            <div class="icon"><span class="icon-calendar"></span></div>
            <input type="text" id="checkout_date" class="form-control">
          </div>
        </div>

        <div class="col-md-6 mb-3 mb-md-0 col-lg-3">
          <div class="row">
            <div class="col-md-6 mb-3 mb-md-0">
              <label for="adults" class="font-weight-bold text-black">Adults</label>
              <div class="field-icon-wrap">
                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                <select name="" id="adults" class="form-control">
                  <option value="">1</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4+</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-3 mb-md-0">
              <label for="children" class="font-weight-bold text-black">Children</label>
              <div class="field-icon-wrap">
                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                <select name="" id="children" class="form-control">
                  <option value="">1</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4+</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 align-self-end">
          <button type="submit" class="buybtn">Check Availabilty</button>
        </div>
      </div>
    </form>

    
  
    <div class="container mt-5 mb-5">

        <div class="row">
    
            <div class="col-lg-4" *ngFor="let h of hotels">
    
                <div class="foodbox mt-3 mb-3">
                   <img src={{h.pic}} />
                 <h1 (click)="getChamberByHotel(1)">{{h.nom}}</h1>

    <i class="bi bi-geo-alt-fill"></i><p style="margin-left: 7%; margin-top: -7%;">{{h.adresse.cartier}},{{h.adresse.ville}}</p>
    <p>{{h.description}}</p>      
    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>               

                </div>
               
            </div>  
            
     
        </div>
        <a  style="margin-bottom: 20%;" routerLink="menu" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>
    </div>

    
